.todo{
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    width: 24%;
    height: auto;
    border: 1px black solid;
    
}
.imagen{
    width: 100%;
}
.cabezera{
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-html5{
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-left: 3%;
}
.texto{
    margin: 2%;
    margin-top: 8%;
    font-size: medium;
}
.barra{
    font-size: 25px;
    margin: 2%;
}
.fa-ellipsis-v{
    font-size: 30px;
    float:right;
    margin-right: 4%;
}
.texto-cabe{
    font-size: medium;
    line-height: 0.5;
    margin-right: 25%;
    
}
.rigoberto-text{
    font-weight: bold;
}
.fa-bookmark{
    float:right;
    margin-right: 4%;
}
