.contenedor-tablero {
  width: 800px; 
  margin: 0 auto;
}

.tablero {
  display: flex;
  flex-direction: column;
  width: 800px; 
  height: 640px;
  margin: 0 auto; 
}

.fila {
  display: flex;
}

.casilla {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.casilla.blanca {
  background-color: #000000; 
}

.casilla.negra {
  background-color: #d9ceb8; 
}

.casilla img {
  width: 60%;
  height: 60%;
}

.recuadro {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.casilla.etiqueta {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.press-start-2p-regular {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}
body{
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}



  